*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#0f62fe;

}

.card{

width:320px;

background:white;

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,.2);

}

input{

width:100%;

padding:12px;

margin:20px 0;

}

button{

width:100%;

padding:12px;

background:#2ecc71;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}
